:root {
    --cor-primaria: rgb(104, 14, 187);
    --cor-secundaria: rgb(165, 86, 240);
    --cor-fundo: #414040;
    --cor-texto: whitesmoke;
    --cor-input: grey;
    --cor-fundo-input: #2c2c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

.container {
    background: #1f1f1f;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: var(--cor-primaria);
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    border: 1px solid var(--cor-primaria);
    border-radius: 25px;
    background: var(--cor-fundo-input);
    color: var(--cor-texto);
    width: 80%;
    height: 40px;
    padding: 0 15px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

input::placeholder {
    color: var(--cor-texto);
}

input:focus {
    border-color: var(--cor-secundaria);
}

button {
    background: var(--cor-primaria);
    color: var(--cor-texto);
    height: 40px;
    width: 100px;
    border: 1px solid var(--cor-primaria);
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--cor-secundaria);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: var(--cor-primaria);
    color: var(--cor-texto);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    transition: 0.3s;
}

li:hover {
    background: var(--cor-secundaria);
}

span {
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
}

span:hover {
    color: #fff;
}
